.card-label {
  font-size: $font-smaller;
  border-radius: 3px;
  padding: 1px 9px;
  display: inline-block;
  color: $color;
  border: 1px solid $color-3;
  background: white;
  &.pink,
  &.blue {
    color: white;
    border-radius: 18px;
    border: none;
    padding: 2px 15px;
  }
  &.pink {
    background: $color-9;
  }
  &.blue {
    background: $color-8;
  }
}
.group-card-label {
  .card-label {
    &:not(:first-child) {
      margin-left: 5px;
    }
  }
}


.card-1 {
  overflow: hidden;
  position: relative;
  height: 508px;
  border-radius: 3px;
  display: block;
  .thumb {
    background-size: cover;
    background-position: center center;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(transparent 40%, rgba(0, 0, 0, 1));
    }
  }
  .info {
    font-weight: 100;
    overflow: hidden;
    color: white;
    padding: 20px;
    position: absolute;
    bottom: 0;
    transition: all 0.5s;
    .desc {
      padding-top: 20px;
      font-size: $font-medium;
    }
  }
  &:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    .thumb {
      transform: scale(1.1);
    }
    .info {
      transform: translateY(-20px);
    }
  }
}

.card-2 {
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  display: block;
  transition: all 0.5s;
  border: 1px solid $color-3;
  background: white;
  .thumb-wrap {
    height: 200px;
    display: block;
    overflow: hidden;
  }
  .thumb {
    background-size: cover;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    transition: all 0.3s;
  }
  .info {
    font-weight: 100;
    overflow: hidden;
    color: $color;
    padding: 20px;
    .desc {
      padding-top: 20px;
      font-size: $font-medium;
    }
  }
  .publish-time {
    margin-top: $grid-gutter-width; 
  }
  .title {
    @extend .title-default;
    @extend .mt-4;
  }
  &:hover {
    text-decoration: none;
    // box-shadow: 0 0 10px rgba(0,0,0,0.5);
    .thumb {
      transform: scale(1.1) rotate(2deg);
    }
    .info {
    
    }
  }
  &.no-wrap {
    border: none;
    .title {
      @extend .title-main-3;
    }
    .thumb-wrap {
      height: 400px;
    }
    .info {
      padding: 0;
    }
  }
}
.col-sm-3 {
  .card-2 {
    .thumb-wrap {
      
    }
  }
}
.card-3 {
  background: $bgd-default;
  .caption {
    color: white;
    @extend .p-inner;
    .desc {
      @extend .mt-5;
      @extend .mb-5;
      @include text-truncate-lines(4);
    }
  }
  .thumb {
    height: 398px;
    background-size: cover;
    background-position: center center;
  }
  .group-inline {
    @include media-breakpoint-up(md){
      position: absolute;
      bottom: $grid-gutter-width;
      left: $grid-gutter-width;
    }
  }
  &.style-2 {
    background: white;
    .title-main-3 {
      color: $color-5;
    }
    .caption {
      color: $color;
    }
  }
  @include media-breakpoint-down(sm){
    flex-direction: column-reverse;
    .thumb {
      height: calc((100vw - 40px)/1.45);
    }
    .caption {

    }
  }
}

.card-full {
  position: relative;
  background-size: cover;
  background-position: center center;
  color: white;
  &:before {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
  }
  .inner-container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .caption {
    max-width: 400px;
  }
}
