#footer {
  overflow: hidden;
  background: #303030;
  position: relative;
  padding: 50px 0;
  
  a {
    letter-spacing: -0.2px;

    &:active {
      color: white;
    }
    .no-touch.desktop & {
      &:hover{
        color: white;
      }
    }

  }
}

.group-link {
  color: white;
  .title {
    color: white;
    font-size: 1.4rem;
    a {
      color: white;
    }
    @include media-breakpoint-up(lg){
      .collapse-icon {
        display: none;
      }
    }
  }
  
  .list-links {
    @include media-breakpoint-up(md){
      padding-bottom: 10px; 
      display: block!important;
    }
    .list-unstyled{
      a {
        color: #b3b3b3;
        padding: 10px 0;
        font-size: $font-smaller;
        display: inline-block;
        .no-touch.desktop & {
          &:hover {
            text-decoration: underline;
          }
        }
      }

    }
  }

  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);

    .title {
      position: relative;
      a {
        padding: 20px 30px 20px 0;
        display: block;
      }
      .collapse-icon {
        &:before {
          content: '+';
          color: rgba(255,255,255,0.6);
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          font: 100 28px $font-family-light;
        }
      }
    }
    &.active {
      .title {
        .collapse-icon:before {
          content: "-";
          font-size: 46px;
          margin-top: -3px;
        }
      }
    }
    &.no-sub .title .collapse-icon {
      display: none;
    }
    .list-links {
      display: none;
      padding: 20px 0;
      border-top: solid 1px rgba(255, 255, 255, 0.6);
    }

  }
}
.copy-right {
  color: white;
  font-size: $font-smaller;
}
.email-subscription {
  color: white;
  .subscriptions-form {
    background: white;
    border-radius: 3px;
    margin: 15px 0 30px;
    position: relative;
    label {
      font-size: 1rem;
      color: $color-1;
      padding-left: 20px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s;
      &.on-focus{
        margin-top: -15px;
      }
    }
    .input {
      overflow: hidden;
      position: relative;
      input {
        width: 100%;
        border: none;
        font-size: $font-smaller;
        padding: 25px 20px;
        background: none;
        position: relative;
        z-index: 2;
        &:focus {
          outline: none;
        }
      }
    }
    
    .submit-btn {
      color: $color-4;
      font-size: $font-smaller;
      background: none;
      border: none;
      padding: 25px 20px;
      float: right;
    }
  }
  @include media-breakpoint-down(sm) {
    margin-top: 30px;
  }
}
// styling for table and desktop only
@include media-breakpoint-up(md) {
  .group-link.no-sub + .group-link.no-sub {
    padding-top: 15px;
  }
}