.listing-item {
  overflow: hidden;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: $grid-gutter-width 0;
  .thumb {
    width: 156px;
    height: 156px;
    background-size: cover;
    border-radius: 50%;
    float: left;
    margin-right: $grid-gutter-width;
  }
  .info {
    overflow: hidden;
  }
  .desc {
    @extend .text-small;
    @extend .mt-4;
    @extend .mb-4;
  }
}