.p-inner {
  padding: $grid-gutter-width;
  @include media-breakpoint-down(md){
    padding: $grid-gutter-width-m;
  }
}
.m-outer {
  margin: $grid-gutter-width / 2;
  @include media-breakpoint-down(lg){
    margin: $grid-gutter-width-m /2 ;
  }
}
.inner-page {
  margin-top: 150px;
  overflow: hidden;
}
.inner-container {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}
.cmp-slider-left {
  margin-left: calc(50vw - 1130px/2);
  
  .slick-prev {
    margin-left: calc(1130px/2 - 50vw);
  }
  @include media-breakpoint-down(lg){
    margin-left: $grid-gutter-width-m;
    .slick-prev {
      margin-left: -$grid-gutter-width-m;
    }
    .slick-track {
      margin-left: -$grid-gutter-width-m/2;
    }
  }
}
[data-slider] {
  .item {
    @extend .m-outer;
  }
}
.cmp-wrapper {
  overflow: hidden;
}
.cmp-wrapper + .cmp-wrapper:not(.has-bgd){
  margin-top: 50px;
}
.cmp-wrapper.bgd-1 + .cmp-wrapper.bgd-1,
.cmp-wrapper.bgd-2 + .cmp-wrapper.bgd-2 {
  padding-top: 0;
  margin-top: -30px;
}
.has-bgd {
  padding: 100px 0;
}
.bgd-1 {
  background: $bgd-1;
}
.bgd-2 {
  background: $bgd-2;
}
.error {
  color: red;
  font-size: 0.9rem;
}
a:focus, button:focus {
  outline: none;
}