// Typography
$font-family-base: Helvetica, Arial, sans-serif;

$font-family-medium: $font-family-base;
$font-family-light: $font-family-base;
$font-family-bold: $font-family-base;
$font-family-normal: $font-family-base;

$font-family-medium-th: $font-family-base;
$font-family-bold-th: $font-family-base;
$font-family-normal-th: $font-family-base;

$font-family-title-bx: $font-family-base;
$font-family-title-bx-bold: $font-family-base;

$font-size-base: 1.8rem;
$font-large: 2.2rem;
$font-medium: 1.6rem;
$font-small: 1.4rem;
$font-smaller: 1.3rem;


// Color
$color: #383838;
$color-1: rgba(0,0,0,0.6);
$color: #383838;
$color-3: rgba(0,0,0,0.2);
$color-4: #00C0F2;
$color-5: #ed028c;
$color-6: #2C3175;
$color-7: #D3E2F1;
$color-8: #7fb3e0;
$color-9:#E48DB4;
$color-10: #2e2e79;
$color-11: #ea8a2e;

$bgd-default: $color-10;
$bgd-1: #FAFAFA;
$bgd-2: #F1F1F1;

// header
$nav-color: $color;
$nav-hover-color: $color-5;
$nav-top-bgd: $color-10;
$nav-bgd: white;
// Link
$link-color: $color;

$radius: 1rem;
$grid-gutter-width-m : 20px;