// Typography
$font-family-base: Tahoma, Helvetica, Arial, sans-serif;

$font-family-medium: $font-family-base;
$font-family-light: $font-family-base;
$font-family-bold: $font-family-base;
$font-family-normal: $font-family-base;

$font-family-medium-th: $font-family-base;
$font-family-bold-th: $font-family-base;
$font-family-normal-th: $font-family-base;

$font-family-title-bx: $font-family-base;
$font-family-title-bx-bold: $font-family-base;

$font-size-base: 1rem;
$font-large: 1.867rem;
$font-medium: 1rem;
$font-small: 0.8667rem;


// Color
$color: #4e4e4e;

// Link
$link-color: $color;

$radius: 1rem;