include ../mixins/all

footer#footer
  .inner-container
    .row
      .col-md-8
        .row
          .col-md-3
            .group-link
              h3.title 
                +link('Solutions from MTL')
                span.collapse-icon
              .list-links
                +list([{title: 'Our product', href: ''},
                  {title: 'Muang Thai Smile Club', href: ''},
                  {title: 'Other services', href: ''}]).list-unstyled
            
          .col-md-3
            .group-link
              h3.title
                +link('Useful resources')
                span.collapse-icon
              .list-links
                +list([{title: 'Learn', href: ''},
                  {title: 'Updates', href: ''},
                  {title: 'Media', href: ''}]).list-unstyled

          .col-md-3
            .group-link
              h3.title
                +link('About MTL')
                span.collapse-icon
              .list-links
                +list([{title: 'Our story', href: ''},
                  {title: 'Career', href: ''}]).list-unstyled

          .col-md-3
            .group-link
              h3.title
                +link('Quick links')
                span.collapse-icon
              .list-links
                +list([{title: 'Hospital Finder', href: ''},
                  {title: 'Make a claim', href: ''},
                  {title: 'Find a branch', href: ''}]).list-unstyled
        .row
          .col-md-3
            .group-link.no-sub
              h3.title
                +link('Find a products')
                span.collapse-icon
          .col-md-3
            .group-link
              h3.title 
                +link('Others')
                span.collapse-icon
              .list-links
                +list([{title: 'Contact', href: ''},
                  {title: 'FAQ', href: ''},
                  {title: 'Online sale', href: ''}]).list-unstyled
          .col-md-3
            .group-link
              h3.title 
                +link('Login')
                span.collapse-icon
              .list-links
                +list([{title: 'Phoenix', href: ''},
                  {title: 'Agent', href: ''},
                  {title: 'Easy care', href: ''},
                  {title: 'Group web access', href: ''}]).list-unstyled

      .col-md-4
        .email-subscription
          p.text-small Email Subscriptions
          form.subscriptions-form(action="" method="post" name="email-subscriptions-form")
            button(type="submit").submit-btn Subscript
            .input
              input(type="text")
              label.label-animation ENTER YOUR EMAIL
          p.text-small Social Media
    
    
    p.copy-right Copyright &copy; 2019 Muang Thai Life Assurance Public Company Limited.