.richtext
  p 
    strong Juristic Entities and Financial Institutions
  ul
    li Company registration certificate
    li A copy of the first page of the company’s Bangkok Bank passbook for authorizing the credit of principal and interest to your account
    li Minutes of a meeting of the company’s board of directors approving the investment in Bangkok Bank’s Bills of Exchange
    li Citizen ID card of the director who is authorized to act on behalf of the company
    li Power of Attorney authorizing the director to act on behalf of the company
  br
  p Notes
  ul
    li Life insurance premiums are tax-deductible in line with the Revenue Department conditions.
    li Life insurance is not a bank deposit. In the event of early redemption, customers may receive returns less than the paid premiums, depending on the date the early redemption is made.
    li The insured should read and study the terms and conditions carefully before deciding to buy insurance. Please ensure you read the details and terms and conditions of the policy contract you received.
    li Bangkok Bank is a life insurance broker, acting as an agent between customers and AIA Company Limited. AIA Company Limited conditions apply to insurance approval.
    li The insured must fill out a Health Declaration Form before applying for insurance.
  p Investment bears certain risks. Investors are advised to study the Prospectus before deciding to invest.
