include ../mixins/all

.wrap-up 
  p.text-small.text-uppercase.text-center The wrap up
  h2.main-title-2 This week we must talk machines and Australian marketing + media jobs - seriously. Massive automation is here in five years. Plus Initiative global CEO Mat Baxter opens up on his brave but deeply polarising comments about Facebook.
    +link().link-primary
      span Go deeper. Read on.
