.owl-carousel.full-view {
	// Styling Next and Prev buttons
	.owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;

		[class*='owl-'] {
			font-size: 4rem;
			display: inline-block;
			cursor: pointer;
			border-radius: 3px;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			&.owl-prev {
				left: 10px;
			}
			&.owl-next {
				right: 10px;
			}
			&:hover {
				opacity: 0.8;
				text-decoration: none;
			}
		}
		.disabled {
			opacity: 0.5;
			cursor: default;
		}
	}

	// Styling dots
	.owl-nav.disabled + .owl-dots {
		margin-top: 10px;
	}

	.owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translateX(-50%);
		.owl-dot {
			display: inline-block;
			zoom: 1;
			*display: inline;

			span {
				width: 10px;
				height: 10px;
				margin: 5px;
				background: white;
				display: block;
				-webkit-backface-visibility: visible;
				transition: opacity 200ms ease;
				border-radius: 5px;
			}

			&.active,
			&:hover {
				span {
					background: lightblue;
				}
			}
		}
	}
	.owl-item {
		.item {
			height: 400px;
		}
	}
}
