mixin item-caption(src, title, content)
  - if (typeof(src) === 'undefined') src = 'images/upload/photo-product-1.jpg'
  - if (typeof(title) === 'undefined') title = 'Swipe up to launch Samsung Pay'
  - if (typeof(content) === 'undefined') content = 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed iscing elit, sed doet dolore magna aliqua. Dolor sit amet, consectetur adipiscing elit, sed.'
    .item.has-caption&attributes(attributes)
      .thumb(style="background-image:url("+src+")")
      .caption
        h3.title-3 #{title}
        .text-default
          p #{content}