mixin thumb-default(src, title , content )
  - if (typeof(src) === 'undefined') src = 'images/upload/thumb-4.jpg'
  - if (typeof(title) === 'undefined') title = 'Lorem ipsum'
  - if (typeof(content) === 'undefined') content = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo .'

    +link().row.no-gutters.thumb-default&attributes(attributes)
      .col-sm-6
        .thumb(style="background-image: url("+src+")")
      .col-sm-6
        .caption
          h3 #{title}
          .desc #{content}

mixin thumb-default-right(src, title , content )
  - if (typeof(src) === 'undefined') src = 'images/upload/thumb-4.jpg'
  - if (typeof(title) === 'undefined') title = 'Lorem ipsum'
  - if (typeof(content) === 'undefined') content = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo .'

    +link().row.no-gutters.thumb-default&attributes(attributes)
      .col-sm-6
        .caption
          h3 #{title}
          .desc #{content}
      .col-sm-6
        .thumb(style="background-image: url("+src+")")

