include ../../mixins/all

.carousel-animation(data-slider, data-text-animation)
  +card-full('images/upload/photo-large-1.jpg')
  +card-full('images/upload/photo-large-2.jpg')
  +card-full('images/upload/photo-large-3.jpg')
  +card-full('images/upload/photo-large-4.jpg')