include ../../mixins/all
    
.slider-left(data-slider, data-left-side)
  +card-2('images/upload/thumb-16.jpg')
  +card-2('images/upload/thumb-17.jpg')
  +card-2('images/upload/thumb-18.jpg')
  +card-2('images/upload/thumb-15.jpg')
  +card-2('images/upload/thumb-14.jpg')
  +card-2('images/upload/thumb-13.jpg')
