button:focus {
  outline: none;
}
.btn-default {
  @include border-radius($radius)
}
.btn-min-width {
  min-width: 205px;
}
.btn {
  font-size: $font-medium;
  font-weight: bold;
  white-space: nowrap;
  line-height: $button-height;
  display: inline-block;
  padding: 0 30px;
  border: none;
  border-radius: 28px;
  transition: all 0.5s;
  span {
    display: inline-block;
    vertical-align: middle;
    &:first-child {
      width: 23px;
      height: 23px;
      background-size: contain;
      margin-right: 5px;
    }
  }

  @include hover {
    text-decoration: none;
  }
}
.btn-white {
  @extend .btn;
  color: $color;
  background: white;
  @include hover {
    color: white;
    background: $color;
    [class*='icon'] {
      filter: invert(100%);
    }
  }
  
}

.btn-primary {
  @extend .btn;
  color: white;
  background: $color-5;
  @include hover {
    color: white;
    @include gradient-y($color-5, lighten($color-5, 20%))
  }
}

.btn-secondary {
  @extend .btn;
  color: $color;
  background: white;
  border: 1px solid rgba(0,0,0,0.1);
  @include hover {
    color: white;
    background: $color;
    border-color: $color;
    [class*='icon'] {
      filter: invert(100%);
    }
  }
}

.app-store {
  overflow: hidden;
  display: inline-block;
  img {
    max-width: 222px;
    border-radius: 5px;
  }

}
.group-inline {
  [class*='btn-'], .app-store {
    display: block;
    text-align: center;
    @include media-breakpoint-down(xs){
      &:not(.first-child) {
        margin-top: $grid-gutter-width/2;
      }
    }
    @include media-breakpoint-up(sm){
      vertical-align: middle;
      display: inline-block;
      &:not(:first-child) {
        margin-left: $grid-gutter-width/2;
      }
    }
    
  }
}