.icon-share {
  background: url(../images/icons/share.png) no-repeat center center;
}
.icon-share-white {
  background: url(../images/icons/share.png) no-repeat center center;
  filter: invert(100%);
}