extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = ''


block container
  .cmp-wrapper.has-bgd.bgd-1
        include components/cards/card-3
        
        .cmp-slider-left
          .inner-container
            h2.title-main-2.text-2.mt-5 Related product
            include components/carousel/slider-left-side
  .cmp-wrapper
    include components/carousel/carousel-animation
  .cmp-wrapper
    include components/carousel/slider-left-side
  .cmp-wrapper
    include components/cards/card-3
  .cmp-wrapper
    include components/cards/card-1
  .cmp-wrapper
    include components/carousel/carousel-animation

