extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = ''


block container
  .cmp-wrapper
    include components/banner
  .cmp-wrapper
    include components/benefit
  
  .cmp-wrapper
    include components/plan

  .cmp-wrapper.has-bgd.bgd-1
    include components/cards/card-3
    
  .cmp-wrapper.has-bgd.bgd-1
    .cmp-slider-left
      h2.title-main-2.text-2.mb-5 Related product
      include components/carousel/slider-left-side
  .cmp-wrapper
    include components/carousel/carousel-animation
  .cmp-wrapper
    include components/carousel/slider-center
  
  .cmp-wrapper
    include components/cards/card-1
  .cmp-wrapper
    include components/carousel/carousel-animation

